{% extends "layout.html.twig" %}

{% block title %}Restaurantly - Menu subscription{% endblock %}

{% form_theme menu_sub_form 'bootstrap_5_layout.html.twig' %}

{% block body %}
<div class="container mt-3">
    <div class="row pb-3">
        <div class="col-12">
            <h1>Menu subscription</h1>
        </div>
    </div>
    <div class="row">
        <div class="col-12">
            {{ form(menu_sub_form) }}
        </div>
    </div>
</div>
{% endblock %}